body {
    height: calc(100vh - 100px);
}

.form {
    /* background-color: rgb(231, 218, 218); */

    /* Border */
    border: 1px solid gray;
    border-radius: 20px;

    /* Sizing */
    padding: 30px;
    width: fit-content;

    /* Position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.form .form__row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    & label {
        font-size: 18px;
    }

    & input {
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;

        &:focus {
            border: 2px solid gray;
            outline: none;
        }
    }
}

.form #error-message {
    color: red;
    font-weight: bold;
    display: none
}

.form button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: rgb(197, 184, 184);

    &:hover {
        background-color: rgb(159, 148, 148);
        color: white;
    }
}